div.about-content
	include includes/blurb.jade
div.nav-controls
	a(href="javascript:;")#prev.inactive 
		span.prev-text  
	a(href="javascript:;")#next.structure
		span.next-text Next: Structure
a(href="javascript:;").close Close Window