p This overlay demo was built by Cher Stewart with the goal of learning Express, Jade and Node.js in hopes of acquiring a position with Blizzard Entertainment working on the Web & Mobile team, with a specialization in eSports. This demo utilizes static JSON files to simulate the data that would be live-updated in a real use-case.
a(href="javascript:;").close Close Window