each team in teams
	ul(class= team.teamColor+"-talents")
		each player in team.players
			li
				span.hero-name= player.hero
				ol
					each talent, i in player.talents 
						li(class=( i == 10 ) ? i+"-tier-talent heroic-tier-talent" : i+"-tier-talent")
							for t, i in talents
								if i == talent
									img(src= t)
									span= talent