each team in teams
	div(class = team.teamColor)
		h1.team-deets
			span.team-name= team.teamName 
			img.team-logo(src= team.teamLogo)
		ul.team-lineup
			each player, i in team.players
				li(class=(i % 2 == 0) ? 'even' : 'odd')
					span.player-photo
						img(src= player.photo)
					span.name= player.name
					span.hero= player.hero