extends layout

block content
	header.chrome
		h1.title= title
		p This is merely a demo built using Express, Jade and the Twitch API in node.js. The application is deployed and run on Heroku.
	div.contents
		header Heroes of the Storm
		a(href="javascript:;").case-study Case Study
		div.stream-container
			div.stream 
				object(bgcolor="#0d0119" data="http://www.twitch.tv/swflibs/TwitchPlayer.swf" height="458" id="clip_embed_player_flash" type="application/x-shockwave-flash" width="750")
					param(name="movie" value="http://www.twitch.tv/swflibs/TwitchPlayer.swf")
					param(name="allowScriptAccess" value="always")
					param(name="allowNetworking" value="all")
					param(name="allowFullScreen" value="true")
					param(name="flashvars" value="channel=blizzheroes&auto_play=true&start_volume=25&videoId=v8032793")
			div.tools . 
			div.chat
				iframe(frameborder="0" scrolling="yes" id="chat_embed" src="http://www.twitch.tv/blizzheroes/chat")
			div.clear