doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/_reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js', type='text/javascript', language='javascript')
    script(src='/javascripts/global.js', type='text/javascript', language='javascript')
