@font-face {
	font-family: "Metronic";
	src: url("/fonts/Metronic Pro Regular.otf") format("opentype");
	font-weight: normal;
}

body {
	background: #0d0119 url('/images/global-bg.jpg') top center no-repeat;
	color:#635e67;
	font-family: "Metronic", Sans-Serif, Sans;
}

a {
	color: #00B7FF;
}
a:hover {
	color:#FFF;
}
h1.title {
	display:none;
}

header.chrome {
	background-color:rgba(13, 1, 25, .7);
	padding:20px 170px;
	font-size:.8em;
}
pre {
	display:none;
	font-size: .8em;
	font-family: monospace;
	background-color:rgba(13, 1, 25, .9);
	border-radius: 3px;
	position: absolute;
	opacity: 0;
	height:0;
	width:0;
	padding:0;
	margin:0;
  	transition: opacity .6s ease-in-out;
}

/* about */

a.about {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.2;
	background-color: #0c3c59;
	background: linear-gradient(#19193f,#0f325b);
	border: 2px solid #0f2e63;
	padding: .7em 2em;
	position: relative;
	display: block;
	border-width: 1px;
	border-bottom: 1px solid #1f62b5;
	text-shadow: 0 0 1rem #009cff;
	margin-top: .6rem;
	padding: .7rem 1rem;
	font-size: .8rem;
	text-align: center;
	margin-left: 3px;
	text-decoration: none;
	float:right;
	position: relative;
	margin-top:50px;
  	transition: all .6s ease;
}
a.about:hover {
	background-color:#18388a;
	background:linear-gradient(#1b0d41,#18388a);
	border-color:#182e83;
	color:#fff;
	border-bottom-color: #FFF;
}

.about-container {
	color:#FFF;
	background-color:rgba(13, 1, 25, .7);
	border-radius: 3px;
	font-size:.8em;
	padding:25px 100px;
	position:absolute;
	left: 170px;
	right: 170px;
	margin-top:25px;
	z-index: 101;
	opacity:0;
	transform:scale(.04);
	transform-origin: top right;
  	transition: all .6s ease-in-out;
}
.about-content {
	position:relative;
	height:100%;
	width:100%;
	overflow: hidden;
}
.about-content > div {
	position: absolute;
	width:100%;
	top:0;
	bottom:0;
  	transition: left .6s ease-in-out;
}
.about-panel-active {
	left:0;
}
.about-previous-panel {
	left:-100%;
}
.about-next-panel {
	left:100%;
}
.about-content h1 {
	text-transform: uppercase;
	text-shadow: 0 0 1rem #009cff;
	font-size:1.3em;
	padding:12px 0;
}

.about-container p {
	padding-bottom:1.5em;
}

.about-container ul {
	list-style-type: disc;
	padding:0 25px;
	line-height: 1.5em;
}
ul.structure-hierarchy {
	padding-left: 50px;
}

ul.structure-hierarchy h2 {
	padding-top:6px;
}
ul.structure-hierarchy ul {
	padding-bottom: 6px;
}
ul.structure-hierarchy > li{
	float:left;
	width:50%;
	padding-bottom:12px;
}
li.code {
	cursor: pointer;
}
li.code:after {
	background: transparent url('/images/more.png') 0 0 no-repeat;
	height:9px;
	width:13px;
	content:'';
	position:absolute;
	margin:5px 6px;
}
li.code.code-open:after {
	transform:scaleY(-1);
}
li.code.code-open > pre, pre.open-pre {
	opacity: 1;
	height: auto;
	width: auto;
	overflow: auto;
	z-index: 100;
	border:1px solid #000;
	margin:auto;
	display: block;
	position: absolute;
	top:40px;
	bottom:40px;
	right:0;
	left:0;
	padding: 6px;
}
pre.open-pre {
	top:100px;
}

li.code.code-open > pre > code {
	height:auto;
	width:auto;
	padding:6px;
}
.about-open {
	opacity:1;
	transform:scale(1);	
}
.about-active > .stream-container, .about-active > header, .about-active > .about {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

a.close {
	position: absolute;
	bottom:25px;
	right:25px;
	font-size: .85em;
	text-decoration: none;
}

#next, #prev{
	background: transparent url('/images/navigation-buttons.png') 0 -67px no-repeat;
	height:76px;
	width:40px;
	display: block;
	position: absolute;
	top:50%;
	margin-top:-38px;
  	transition: opacity .6s ease-in-out;
}
.next-text, .prev-text {
	position: absolute;
	opacity: 0;
	display: block;
	color:#FFF;
	text-transform: uppercase;
	font-family: "Metronic", Sans-Serif, Sans;
	height:20px;
	padding:12px;
	background-color:rgba(0, 0, 0, .4);
	border-radius: 3px;
	margin-left:40px;
	margin-top:18px;
	width:75px;
}
 .prev-text {
 	margin-left:-95px;
 	text-align: right;
 }
.nav-controls > a:hover > span {
	opacity:1;
}
#next {
	right:25px;
	background-position: -140px -67px;
}
#next:hover {
	background-position: -95px -67px;
}
#prev {
	left:25px;
}
#prev:hover {
	background-position: -45px -67px;
}

.nav-controls > .inactive {
	opacity:0;
	cursor:default;
}

/* contents */

.contents {
	padding: 0 170px;
	min-width: 808px;
}

.contents > header {
	text-indent: -10000px;
	background:transparent url('/images/logo.png') 0 -20px no-repeat;
	height:140px;
	width:249px;
	float:left;
  	transition: all .6s ease-in-out;
}

/* stream */

.stream-container {
	background-color:rgba(13, 1, 25, .7);
	clear:both;
  	transition: all .6s ease-in-out;
}
.stream {  
	background:#0d0119;
	border:3px solid transparent;
	border-image: linear-gradient(to bottom,#43286b 0,#14324a 100%);
  	border-image-slice: 1;
	padding: 3px;
	float:left;
	width:69%;
	min-width:756px;
	position: relative;
}
object {
	display:block;
	width:100%;
	height:100%;
}

/* chat */
.chat {
	float:right;
	margin:3px;
	width:calc(31% - 50px);
	min-width: 290px;
}
.chat > iframe {
	min-height: 462px;
	width:100%;
}

/* tools */
.tools {
	float:left;
}
.tools > ul {
	padding-top:15px;
	width:31px;
}
.tools > ul > li > a > span {
	position: absolute;
	opacity: 0;
	display: block;
	color:#FFF;
	text-transform: uppercase;
	font-family: "Metronic", Sans-Serif, Sans;
	height:10px;
	padding:12px;
	background-color:rgba(13, 1, 25, .4);
	border-radius: 3px;
	margin-left:30px;
	margin-top:6px;
}
.tools > ul > li > a:hover > span {
	opacity:1;
}
.tools > ul > li {
	height:50px;
	width:45px;
	background: transparent url('/images/navigation-buttons.png') -5px -9px no-repeat;
	cursor: pointer;
	position: relative;
	z-index: 100;
	margin-top: -30px;
}
.tools > ul > li.active {
	background-position:-52px -8px;
}

.tools > ul > li:not(.active):hover{ 
	background-position: -108px -9px;
}

.tools > ul > li > a {
	display:block;
	height:35px;
	width:25px;
	margin: 15px 6px 0 6px;
	background:transparent url('/images/nav-icons.png') 1px -19px no-repeat;
}
.tools > ul > li#teams > a {
	background-position: 1px 17px;
}
.tools > ul > li#bracket > a {
	background-position: 1px -54px;
}

.tools > ul > li.active > a, .tools > ul > li:hover > a {
	background-position:-26px -19px;
}
.tools > ul > li.active#teams > a, .tools > ul > li#teams:hover > a {
	background-position:-25px 17px;
}
.tools > ul > li.active#bracket > a, .tools > ul > li#bracket:hover > a {
	background-position:-26px -54px;
}
/* overlays */
.stream-overlay {
	position: absolute;
	left:0;
	right:0;
	bottom:30px;
	top:0;
  	transition: all .6s ease-in-out;
}
.teams-container {
  	opacity: 0;
  	overflow: hidden;
}
.teams-open {
	opacity: 1;
}
.teams-container > div {
  	top:0;
  	bottom:0;
	padding-top:30px;
	width:250px;
	position: absolute;
  	transition: left .6s ease-in-out, right .6s ease-in-out;
}


.teams-container > .blue {
	background: url('/images/teams-bg.png') top left repeat, linear-gradient(to right, rgba(0, 0, 0, 1),  rgba(6, 0, 42, .3));
	left:-250px;
}
.teams-container > .red {
	right:-250px;
	background: url('/images/teams-bg.png') top left repeat, linear-gradient(to left, rgba(0, 0, 0, 1),  rgba(6, 0, 42, .3));
}

.teams-open > .blue {
	left:0;
}

.teams-open > .red {
	right:0;
}

h1.team-deets {
	margin-bottom:30px;
	position:relative;
}
span.team-name {
	background: #213778;
	width:57px;
	height:100px;
	position: relative;
	text-indent: -10000px;
	display: block;
  	transform: rotate(30deg);
  	margin:0 auto;
}

.red span.team-name {
	background:#b41222;
}
span.team-name:before, span.team-name:after {
  position: absolute;
  top: 0;
  right: 0;
  background: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotate(60deg);
}
span.team-name:after {
  transform: rotate(-60deg);
}
img.team-logo {
	max-width:120px;
	max-height: 78px;
	position: absolute;
	top:10px;
	left:50%;
	margin-left:-15%;
}
.team-lineup {
	text-transform: uppercase;
	color:#FFF;
	text-shadow: 0 0 8px #009cff;
	margin-top:-10px;
}

li.even, li.odd {
	padding:5px 0 10px 60px;
	clear:both;
}

li.even {
	margin-left:35px;
}
span.player-photo {
	float:left;
	position: relative;
	z-index: 5;
	margin:-8px 0 0 -38px;
}
span.player-photo > img {
	display:block;
	max-height:46px;
	max-width:46px;
	padding:2px;
	border-radius:50px;
  	box-shadow: 0 0 4px #54a9f4;
	background: linear-gradient(to bottom,#43286b 0,#14324a 100%);
}
.red span.player-photo > img {
  	box-shadow: 0 0 4px #f58a9c;
}
.team-lineup span:not(.player-photo)	 {
	display:block;
	position: relative;
	font-size:.9em;
	padding:2px 0;
	z-index: 4;
	text-indent: 6px;
}

.team-lineup span:not(.player-photo):after {
	background: rgba(255, 255, 255, .1);
	content:'';
	height:20px;
	width:140px;
	display:block;
	transform: scaleX(1) scaleY(1) scaleZ(1) skewX(-20deg);
  	transform-origin: 50% 50% 0;
  	box-shadow: 0 0 4px #c8bfdf;
  	position: absolute;
  	top:0;
  	margin-top:-2px;
  	margin-left:-10px;
}

.team-lineup span.hero {
	font-size:.7em;
	line-height: 15px;
}

.team-lineup span.hero:after {
	width:100px;
	height:15px;
	margin-top:0px;
}
.talents-container {
	width:450px;
	margin:0 auto;
	top:auto;
	transform: rotateY(180deg) scale(.04);
	bottom:-15px;
}
.talents-open {
	transform: rotateY(0deg) scale(1);
	bottom:30px;
}
.talents-container > ul {
	width:50%;
	float:left;
}

.talents-container > ul > li {
	clear:both;
}


span.hero-name {
	text-transform: uppercase;
	padding:0 5px;
	color:#FFF;
	text-shadow: 0 0 8px #009cff;
	font-size: .9em;
	float:left;
	display: block;
	width:75px;
	line-height: 25px;
	text-align: right;
	height:20px;
	background: linear-gradient(to left, rgba(0, 0, 0, 1),  rgba(6, 0, 42, 0));
}

.talents-container > ul.red-talents > li > span.hero-name {
	float: right;
	text-align: left;
	background: linear-gradient(to right, rgba(0, 0, 0, 1),  rgba(6, 0, 42, 0));
}
.talents-container > ul > li > ol > li {
	float:left;
	height:20px;
	width:20px;
}

span.talent-name {
	position: absolute;
	opacity: 0;
	display: block;
	color:#FFF;
	text-transform: uppercase;
	font-family: "Metronic", Sans-Serif, Sans;
	height:10px;
	padding:12px;
	background-color:rgba(13, 1, 25, .8);
	border-radius: 3px;
	margin-left:0px;
	margin-top:1px;
	white-space: nowrap;
}

li.each-talent:hover > span.talent-name {
	opacity: 1;
}
img.talent-image {
	display:block;
	height:20px;
	width:20px;
}
.bracket-container {
	transform:scale(.01);
	background: radial-gradient(ellipse at center, rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 73%);
}
.bracket-open {
	transform:scale(1);
}
.bracket-container ul {
	padding:5px 20px 5px 0;
	float:right;
}
ul.brackets {
	position: absolute;
	width:662px;
	right:0;
	top:0;
	bottom:0;
	left:0;
	height:404px;
	margin:auto;
}
.bracket-container li span{
	position:relative;
	z-index: 6;
	text-transform: uppercase;
	color:#FFF;
	text-shadow: 0 0 8px #009cff;
	font-size: .9em;
}
.bracket-container li span:before {
	background: rgba(13, 1, 25, .9);
	content:'';
	height:25px;
	width:190px;
	display:block;
	transform: scaleX(1) scaleY(1) scaleZ(1) skewX(-20deg);
  	transform-origin: 50% 50% 0;
  	box-shadow: 0 0 4px #000;
  	margin-bottom:-19px;
  	margin-left:-10px;
  	z-index: 5;
}
ul.subtier-bracket {
	padding-top:20px;
}
ul.lowest-bracket {
	padding-top:10px;
}

li.upper-bracket > ul:nth-child(1) {
	padding-top:123px;
}
li.upper-bracket > ul:nth-child(2) {
	padding-top:53px;
}

li.upper-bracket > ul:nth-child(2) > li:nth-child(2) > ul.lowest-bracket {
	padding-top:70px;
}

li.lower-bracket > ul:nth-child(1) {
	padding-top:53px;
}

@media only screen and (max-width:1435px) { /* resize stream so it doesn't get too narrow */
	.stream {
		width:calc(100% - 45px);
	}
	.chat {
		float:none;
		margin:3px 0;
		width:100%;
	}
	.chat > iframe {
		height:500px;
		position: relative;
	}
	.talents-open {
		transform: rotateY(0deg) scale(1.15);
    	transform-origin: bottom;
	}
	span.talent-name {
		transform: scale(.9);
	}
	ul.brackets {
		transform: scale(1.1);
	}
}

@media only screen and (min-width:1650px) {

	.talents-open {
		transform: rotateY(0deg) scale(1.15);
    	transform-origin: bottom;
	}
	span.talent-name {
		transform: scale(.9);
	}
	ul.brackets {
		transform: scale(1.1);
	}
}