@font-face {
  font-family: "Metronic";
  src: url("/fonts/Metronic Pro Regular.otf") format("opentype");
  font-weight: normal;
}

body {
	background: #0d0119 url('/images/global-bg.jpg') top center no-repeat;
	color:#635e67;
	font-family: "Metronic", Sans-Serif, Sans;
}

a {
  color: #00B7FF;
}
a:hover {
	color:#FFF;
}
h1.title {
	display:none;
}

header.chrome {
	background-color:rgba(13, 1, 25, .7);
	padding:20px 170px;
	font-size:.8em;
}
a.about {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.2;
	background-color: #0c3c59;
	background: linear-gradient(#19193f,#0f325b);
	border: 2px solid #0f2e63;
	padding: .7em 2em;
	position: relative;
	display: block;
	border-width: 1px;
	border-bottom: 1px solid #1f62b5;
	text-shadow: 0 0 1rem #009cff;
	margin-top: .6rem;
	padding: .7rem 1rem;
	font-size: .8rem;
	text-align: center;
	margin-left: 3px;
	text-decoration: none;
	float:right;
	position: relative;
	margin-top:50px;
  	transition: all .6s ease;
}
a.about:hover {
	background-color:#18388a;
	background:linear-gradient(#1b0d41,#18388a);
	border-color:#182e83;
	color:#fff;
	border-bottom-color: #FFF;
}
.contents {
	padding: 0 170px;
}

.contents header {
	text-indent: -10000px;
	background:transparent url('/images/logo.png') 0 -20px no-repeat;
	height:140px;
	width:249px;
	float:left;
}
.stream-container {
	background-color:rgba(13, 1, 25, .7);
	clear:both;
}
.stream {  
	background:#0d0119;
	border:3px solid transparent;
	border-image: linear-gradient(to bottom,#43286b 0,#14324a 100%);
  	border-image-slice: 1;
	padding: 3px;
	float:left;
	width:68.2%;
	position: relative;
}
object {
	display:block;
	width:100%;
	height:100%;
}
.chat {
	float:right;
	margin:3px;
}
.chat > iframe {
	height:467px;
	width:294px;
}
.tools {
	float:left;
}
.tools > ul {
	padding-top:15px;
	width:25px;
}
.tools > ul > li > a > span {
	position: absolute;
	opacity: 0;
	display: block;
	color:#FFF;
	text-transform: uppercase;
	font-family: "Metronic", Sans-Serif, Sans;
	height:10px;
	padding:12px;
	background-color:rgba(13, 1, 25, .4);
	border-radius: 3px;
	margin-left:30px;
	margin-top:6px;
}
.tools > ul > li > a:hover > span {
	opacity:1;
}
.tools > ul > li {
	height:50px;
	width:45px;
	background: transparent url('/images/navigation-buttons.png') -5px -9px no-repeat;
	cursor: pointer;
	position: relative;
	z-index: 100;
	margin-top: -30px;
}
.tools > ul > li.active {
	background-position:-52px -8px;
}

.tools > ul > li:not(.active):hover{ 
	background-position: -108px -9px;
}

.tools > ul > li > a {
	display:block;
	height:35px;
	width:25px;
	margin: 15px 6px 0 6px;
	background:transparent url('/images/nav-icons.png') 1px -19px no-repeat;
}
.tools > ul > li#teams > a {
	background-position: 1px 17px;
}
.tools > ul > li#bracket > a {
	background-position: 1px -54px;
}

.tools > ul > li.active > a, .tools > ul > li:hover > a {
	background-position:-26px -19px;
}
.tools > ul > li.active#teams > a, .tools > ul > li#teams:hover > a {
	background-position:-25px 17px;
}
.tools > ul > li.active#bracket > a, .tools > ul > li#bracket:hover > a {
	background-position:-26px -54px;
}

#about-data {
	color:#FFF;
	background-color:rgba(13, 1, 25, .7);
	border-radius: 3px;
	font-size:.8em;
	padding:25px;
	position:absolute;
	width:50%;
	right:170px;
	margin-top:25px;
	z-index: 101;
}
#about-data > a.close {
	float:right;
	font-size: .75em;
	text-decoration: none;
}
.stream-overlay {
	position: absolute;
	left:0;
	right:0;
	bottom:30px;
	top:0;
}
.teams-container > .blue {
	background: url('/images/teams-bg.png') top left repeat, linear-gradient(to right, rgba(0, 0, 0, 1),  rgba(6, 0, 42, .3));
	float:left;
}
.teams-container > .red {
	float:right;
	background: url('/images/teams-bg.png') top left repeat, linear-gradient(to left, rgba(0, 0, 0, 1),  rgba(6, 0, 42, .3));
}

.teams-container > div > h1 {
	margin:30px 0;
	position:relative;
}
.teams-container > div > h1 > span {
	/* background: linear-gradient(135deg, #7db9e8 0%,#2989d8 13%, #000111 100%); */
	background: #213778;
	width:57px;
	height:100px;
	position: relative;
	text-indent: -10000px;
	display: block;
  	transform: rotate(30deg);
  	margin:0 auto;
}

.teams-container > .red > h1 > span {
	background:#b41222;
}
.teams-container > div > h1 > span:before, .teams-container > div > h1 > span:after {
  position: absolute;
  top: 0;
  right: 0;
  background: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotate(60deg);
}
.teams-container > div > h1 > span:after {
  transform: rotate(-60deg);
}
.teams-container > div > h1 > img {
	max-width:120px;
	max-height: 78px;
	position: absolute;
	top:10px;
	left:50%;
	margin-left:-15%;
}
.teams-container > div {
	height:100%;
	width:250px;
}
.team-lineup {
	text-transform: uppercase;
	color:#FFF;
	text-shadow: 0 0 8px #009cff;
}

.team-lineup {
	margin-top:-10px;
}
.team-lineup > li {
	padding:5px 0 10px 60px;
	clear:both;
}

.team-lineup > li.even {
	margin-left:35px;
}

.team-lineup > li > span.player-photo {
	float:left;
	position: relative;
	z-index: 5;
	margin:-8px 0 0 -38px;
}
.team-lineup > li > span.player-photo > img {
	display:block;
	max-height:46px;
	max-width:46px;
	padding:2px;
	border-radius:50px;
  	box-shadow: 0 0 4px #54a9f4;
	background: linear-gradient(to bottom,#43286b 0,#14324a 100%);
}
.red > .team-lineup > li > span.player-photo > img {
  	box-shadow: 0 0 4px #f58a9c;
}
.team-lineup > li > span:not(.player-photo)	 {
	display:block;
	position: relative;
	font-size:.9em;
	padding:2px 0;
	z-index: 4;
	text-indent: 6px;
}

.team-lineup > li > span:not(.player-photo):after {
	background: rgba(255, 255, 255, .1);
	content:'';
	height:20px;
	width:140px;
	display:block;
	transform: scaleX(1) scaleY(1) scaleZ(1) skewX(-20deg);
  	transform-origin: 50% 50% 0;
  	box-shadow: 0 0 4px #c8bfdf;
  	position: absolute;
  	top:0;
  	margin-top:-2px;
  	margin-left:-10px;
}

.team-lineup > li > span.hero {
	font-size:.7em;
	line-height: 15px;
}

.team-lineup > li > span.hero:after {
	width:100px;
	height:15px;
	margin-top:0px;
}
.talents-container {
	width:450px;
	margin:0 auto;
	top:auto;
}
.talents-container > ul {
	width:50%;
	float:left;
}

.talents-container > ul > li {
	clear:both;
}


.talents-container > ul > li > span.hero-name {
	text-transform: uppercase;
	padding:0 5px;
	color:#FFF;
	text-shadow: 0 0 8px #009cff;
	font-size: .8em;
	float:left;
	display: block;
	width:75px;
	line-height: 25px;
	text-align: right;
	height:20px;
	background: linear-gradient(to left, rgba(0, 0, 0, 1),  rgba(6, 0, 42, 0));
}

.talents-container > ul.red-talents > li > span.hero-name {
	float: right;
	text-align: left;
	background: linear-gradient(to right, rgba(0, 0, 0, 1),  rgba(6, 0, 42, 0));
}
.talents-container > ul > li > ol > li {
	float:left;
	height:20px;
	width:20px;
}

.talents-container > ul > li > ol > li > span {
	position: absolute;
	opacity: 0;
	display: block;
	color:#FFF;
	text-transform: uppercase;
	font-family: "Metronic", Sans-Serif, Sans;
	height:10px;
	padding:12px;
	background-color:rgba(13, 1, 25, .4);
	border-radius: 3px;
	margin-left:0px;
	margin-top:1px;
	white-space: nowrap;
}

.talents-container > ul > li > ol > li:hover > span {
	opacity: 1;
}
.talents-container > ul > li > ol > li > img {
	display:block;
	height:20px;
	width:20px;
}

.bracket-container ul {
	padding:5px 20px 5px 0;
	float:right;
}
.bracket-container li span{
	position:relative;
	z-index: 6;
	text-transform: uppercase;
	color:#FFF;
	text-shadow: 0 0 8px #009cff;
	font-size: .9em;
}
.bracket-container li span:before {
	background: rgba(0, 0, 0, .6);
	content:'';
	height:25px;
	width:190px;
	display:block;
	transform: scaleX(1) scaleY(1) scaleZ(1) skewX(-20deg);
  	transform-origin: 50% 50% 0;
  	box-shadow: 0 0 4px #000;
  	margin-bottom:-19px;
  	margin-left:-10px;
  	z-index: 5;
}
.bracket-container ul.subtier-bracket {
	padding-top:20px;
}
.bracket-container ul.lowest-bracket {
	padding-top:10px;
}

.bracket-container > ul.brackets > li.upper-bracket > ul:nth-child(1) {
	padding-top:123px;
}
.bracket-container > ul.brackets > li.upper-bracket > ul:nth-child(2) {
	padding-top:53px;
}

.bracket-container > ul.brackets > li.upper-bracket > ul:nth-child(2) > li:nth-child(2) > ul.lowest-bracket {
	padding-top:70px;
}

.bracket-container > ul.brackets > li.lower-bracket > ul:nth-child(1) {
	padding-top:53px;
}