#styles
	h1 Styles
	p I use Eric Meyer's _reset.css to reset default browser styles. I prefer to use resets to avoid "undoing" default styles in order to achieve the layout desired.
	h2 style.css
	pre.open-pre
		code
			include ../../../public/stylesheets/style.css